*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.idea/deploymentTargetDropDown.xml
.idea
.idea/appInsightsSettings.xml
.idea/appInsightsSettings.xml
.idea/appInsightsSettings.xml
.idea/appInsightsSettings.xml
.idea/deploymentTargetDropDown.xml
/keystore.properties
/app/build
/app/keystore.jks
/app/google-services.json
/app/src/dev/google-services.json
/app/src/development/google-services.json
/app/src/production/google-services.json